{% extends 'layouts/application.html' %}{% block bodyClass %}class="visa-kinh-doanh-E-2"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}
<!-- Breadcrumb  -->
{% include "modules/component/breadcrumb.html" %}
<!-- End breadcrumb  -->
<div class="entry-content container">
    <form class="eventform stepform scrollTo" id="stepForm">
        <div id="form_show" class="row py-md-5"> 
            <div class="col-md-8 offset-md-2 "> 
                <h2 class="title h4 text-uppercase mb-4 text-center">ĐĂNG KÝ THAM DỰ TỌA ĐÀM TRỰC TUYẾN</h4>
                <p><i>Anh chị vui lòng điền các thông tin bên dưới.<br>Chuyên viên tư vấn của IMM Group sẽ liên hệ xác nhận thông tin và gửi hướng dẫn cách thức tham dự tọa đàm.</i></p>
                <fieldset id="step_1" >
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="mb-1">Họ và tên</label>
                                <input id="txtname" class="form-control register__input required" name="name" type="text" autocomplete="off">					
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="mb-1">Email</label>
                                <input id="txtemail" class="form-control register__input required email" type="text" name="email" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="mb-1">Số điện thoại</label>
                                <input id="txtphone" class="form-control register__input required number" type="text" name="phone" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="mb-1">Giới tính</label>
                                <select id="gender" runat="server" class="form-control">
                                    <option value="">Lựa chọn giới tính</option>
                                    <option value="Nam">Nam</option>
                                    <option value="Nữ">Nữ</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" id="areatext">
                                <label class="mb-1">Địa điểm anh chị đang ở</label>
                                <select id="areamy" runat="server" class="form-control">
                                    <option value="">Lựa chọn địa điểm</option>
                                    <option value="Phía Bắc">Phía Bắc</option>
                                    <option value="Phía Nam">Phía Nam</option>
                                    <option value="Khác">Khác</option>
                                </select>
                            </div>
                            <div class="form-group d-none" id="showarea">
                                <label class="mb-1">Địa điểm khác</label>
                                <input id="txtkhuvuckhac" class="form-control register__input" type="text" name="khuvuckhac" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="mb-1">Có yêu cầu khác cần tư vấn</label>
                                <input id="txtnhucaukhac" class="form-control register__input" type="text" name="nhucaukhac" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <input type="button" name="next" class="next action-button" value="Kế tiếp" />
                </fieldset>		
                <fieldset id="step_2" class="step-end">
                    <h4>Thông tin để thẩm định hồ sơ</h4>
                    <div class="form-group text-left">
                        <label class="mb-1">1. Giá trị căn nhà anh/chị dự định sẽ mua?</label>
                        <input id="giatrinhasemua" class="form-control register__input required" type="text" name="giatrinhasemua" autocomplete="off">
                    </div>
                    <div class="form-group text-left">
                        <label class="mb-1">2. Mục đích chính khi mua nhà</label>
                        <label class="check-content">
                            Định cư tại Úc
                            <input id="mucdichmuanha1" class="" type="radio" name="mucdichmuanha" value="Định cư tại Úc" checked />
                            <span class="checkmark radio"></span>
                        </label>
                        <label class="check-content">
                            Cho con ở khi đi du học
                            <input  id="mucdichmuanha2" class="" type="radio" name="mucdichmuanha" value="Cho con ở khi đi du học" />
                            <span class="checkmark radio"></span>
                        </label>
                        <label class="check-content">
                            Đầu tư sinh lời 
                            <input  id="mucdichmuanha3" class="" type="radio" name="mucdichmuanha" value="Đầu tư sinh lời " />
                            <span class="checkmark radio"></span>
                        </label>
                        <label class="check-content">
                            Khác
                            <input  id="mucdichmuanha4" class="" type="radio" name="mucdichmuanha" value="Khác" />
                            <span class="checkmark radio"></span>
                        </label>
                    </div>
                    <div class="form-group text-left">
                        <label class="mb-1">3. Loại nhà anh/chị muốn mua </label>
                        <label class="check-content">
                            Căn hộ
                            <input id="loainha1" class="" type="radio" name="loainha" value="Căn hộ" checked />
                            <span class="checkmark radio"></span>
                        </label>
                        <label class="check-content">
                            Nhà đất biệt thự
                            <input  id="loainha2" class="" type="radio" name="loainha" value="Nhà đất biệt thự" />
                            <span class="checkmark radio"></span>
                        </label>
                        <label class="check-content">
                            Nhà ở liên kế
                            <input  id="loainha3" class="" type="radio" name="loainha" value="Nhà ở liên kế" />
                            <span class="checkmark radio"></span>
                        </label>
                        <label class="check-content">
                            Khác
                            <input  id="loainha4" class="" type="radio" name="loainha" value="Khác" />
                            <span class="checkmark radio"></span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="mb-1">4. Anh/chị muốn mua nhà có mấy phòng ngủ & phòng tắm?</label>
                        <input id="nhamayphongngu" class="form-control register__input required" type="text" name="nhamayphongngu" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label class="mb-1">5. Anh/chị có muốn làm hồ sơ lấy quyền định cư Úc?</label>
                        <label class="check-content">
                            Muốn tìm hiểu thêm
                            <input  id="sohodinhcu1" class="" type="radio" name="sohodinhcu" value="Muốn tìm hiểu thêm" />
                            <span class="checkmark radio"></span>
                        </label>
                        <label class="check-content">
                            Đã làm
                            <input  id="sohodinhcu2" class="" type="radio" name="sohodinhcu" value="Đã làm" />
                            <span class="checkmark radio"></span>
                        </label>
                        <label class="check-content">
                            Không làm 
                            <input  id="sohodinhcu3" class="" type="radio" name="sohodinhcu" value="Không làm" />
                            <span class="checkmark radio"></span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="mb-1">6. Năm sinh của con lớn nhất?</label>
                        <input id="namsinhcon" class="form-control register__input required" type="text" name="namsinhcon" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label class="mb-1">7. Có yêu cầu khác cần tư vấn </label>
                        <input id="yeucautuvankhac" class="form-control register__input" type="text" name="yeucautuvankhac" autocomplete="off">
                    </div>
                    <input type="button" name="previous" class="previous action-button" value="Quay lại" />
                    <input type="button" value="Hoàn tất đăng ký" data-area="BDSUC92020" class="next action-button register__btn">
                </fieldset>	  
            </div>
        </div>
   </form>
    
</div>


<!-- end blog  -->
{% include "modules/component/register-footer.html" %}
<!-- end register -->
{% endblock %}