.signature-line {
    width: 5rem;
    height: .5rem;
    display: inline-block;
    background-color: $primary;
}

.our-story__wrap {
    display: flex;
    align-items: center;
    .text-bg {
        h1 {
            font-family: "commerceB";
            font-size: 7rem;
            text-align: right;
            color: transparent;
            background: url('../images/bg-text.jpg') 0 0/cover;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-attachment: fixed;
            white-space: nowrap;
        }
    }
    .text-wrap {
        padding: 5rem 8rem;
        text-align: justify;
        border: 6px solid $primary;
        border-left: 0;
        position: relative;
        font-size: 14px;
        &:before,
        &:after {
            content: "";
            position: absolute;
            width: 6px;
            height: 5rem;
            left: 0;
            background-color: $primary;
        }
        &:before {
            top: 0;
        }
        &:after {
            bottom: 0
        }
        .newspaper-style {
            line-height: rem(25);
        }
    }
}

.our-process {
    .summary {
        font-size: 13pt;
    }
    .col-bg {
        background: rgb(1, 35, 102);
        background: linear-gradient(180deg, rgba(1, 35, 102, 1) 0%, rgba(16, 111, 174, 1) 50%, rgba(30, 187, 244, 1) 100%);
        width: 100%;
        height: 100%;
    }
    .col-right {
        margin-left: -10.5%
    }
    &__timeline {
        font-size: 12pt;
    }
    .year {
        font-family: "commerceB";
        color: #fff;
        border: 2px solid #fff;
        border-right: 0;
        width: 4rem;
        height: 4rem;
        line-height: 4rem;
        font-size: 1.5rem;
        position: relative;
        &:after {
            width: 2px;
            height: 70%;
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: #fff;
        }
    }
    .line {
        width: 2px;
        height: calc(100% - 4rem);
        background: #fff;
        position: absolute;
        bottom: 0;
        left: calc((100% - 35px)/2);
    }
}

.square-line {
    margin: 2rem 0 2rem -14%;
    .square {
        width: 10px;
        height: 10px;
        display: inline-block;
        margin: 0 7px;
        background: #000;
    }
}

@include media-breakpoint-down(lg) {
    .our-story__wrap {
        .text-wrap {
            padding: 5%;
        }
        .text-bg h1 {
            font-size: 6rem
        }
    }
    .our-process {
        .line {
            left: calc((100% - 10px)/2);
        }
        .col-right {
            margin-left: -12%;
        }
    }
}

@include media-breakpoint-down(md) {
    .our-process {
        .col-right {
            margin-left: -15%;
        }
        &__text {
            padding-left: 2rem;
        }
    }
    .square-line {
        margin: 2rem 0 2rem -19%;
    }
}

@include media-breakpoint-down(sm) {
    .our-story__wrap {
        flex-direction: column;
        .text-bg h1 br {
            display: none;
        }
        .text-wrap:after {
            height: 80%;
        }
    }
    .our-title h2 {
        font-size: 2rem;
    }
    .our-process .col-right {
        margin-left: 0;
    }
    .our-process {
        .year {
            color: #000;
            border: 2px solid #000;
            margin: auto;
        }
        .line {
            background: #000;
            left: calc((100% - 4px)/2);
        }
    }
}