.header {
    background: $header-background;
    position: relative;
    &__top {
        display: flex;
        justify-content: space-between;
    }
    &__bottom {
        background: $black;
        color: $header-bottom-text;
        padding: .2rem 0;
        a {
            color: $header-bottom-text
        }
        .switch-language {
            font-size: rem(13);
            margin-right: 1rem;
        }
    }
    &__social {
        li {
            display: inline-block;
            max-width: 1.5rem;
            vertical-align: middle;
            margin-left: .3rem
        }
    }
    &__logo {
        flex-grow: 2;
        padding: .5rem;
        .logo img {
            max-width: 70px;
        }
    }
    &__icon {
        position: relative;
        z-index: 4;
        font-size: 2rem;
    }
    &__btn-icon {
        height: 100%;
        min-width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $primary;
        color: $header-bottom-text;
        position: relative;
        cursor: pointer;
        font-size: 0;
        width: 9vw;
        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 35%;
            width: 100%;
            height: 100%;
            transform: skew(30deg);
            background-color: $primary;
            z-index: 2;
        }
        &:after {
            background-color: $dark-primary;
            z-index: 1;
            transform: skew(30deg) translateX(20px);
        }
        @include hover-focus-active {
            color: $header-bottom-text
        }
    }
    &__links {
        li {
            display: inline-block;
            margin-left: 1rem;
            white-space: nowrap;
        }
        a {
            color: $header-text;
            font-size: 13px;
            border-bottom: 1px solid transparent;
            &:hover {
                border-bottom-color: $header-text;
            }
        }
    }
    //MENU
    &__toggle-menu.open-menu {
        &:before,
        &:after {
            display: none;
        }
    }
    &__menu {
        &-panel {
            height: 100%;
            .dl-trigger {
                position: absolute;
                z-index: 3;
                left: calc((100% - 35px)/2);
                top: calc((100% - 45px)/2);
                background: transparent;
                &:hover,
                &.dl-active {
                    background-color: transparent;
                }
                &:after {
                    height: 2px;
                }
                &.dl-active {
                    &:after {
                        display: none;
                    }
                    &::before {
                        @include icon-font('\4d', 3rem, 2.5rem);
                        position: absolute;
                        top: 0;
                        left: 0;
                        color: $header-bottom-text;
                    }
                }
            }
            &.dl-menuwrapper {
                perspective: inherit;
                z-index: 1000;
                &:first-child {
                    margin-right: 0;
                }
                .dl-menu {
                    z-index: 1;
                    margin: 0
                }
                ul {
                    background: $dropdown-bg;
                    min-width: 25rem;
                }
                li {
                    border-bottom: 1px solid $dropdown-border-color;
                    &:last-child {
                        border-bottom: none;
                    }
                    a {
                        color: $dropdown-link-color;
                        text-transform: uppercase;
                        font-weight: $font-weight-bold;
                        padding: $nav-link-padding-y$nav-link-padding-x;
                    }
                    &.dl-back:after,
                    >a:not(:only-child):after {
                        @include icon-font('\35', 2rem, 1rem);
                        top: 13px;
                        right: 0px;
                        left: auto;
                        position: absolute;
                        color: $dropdown-link-color;
                    }
                    &.dl-subview,
                    &.dl-subviewopen {
                        border-bottom: 0;
                    }
                    &:hover {
                        >a.nav-link {
                            color: $dropdown-link-hover-color;
                            background-color: $dropdown-link-hover-bg;
                            &:after {
                                color: $dropdown-link-hover-color
                            }
                        }
                    }
                }
            }
        }
    }
    &.fixed-menu {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1000;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
        .header__bottom {
            display: none;
        }
    }
    // SEARCH 
    &__search {
        .header__icon {
            font-size: 1.3rem;
            @include transform(scaleX(-1))
        }
        .header__btn-icon {
            &:before,
            &:after {
                transform: skew(-30deg);
                left: auto;
                right: 35%;
            }
            &:after {
                transform: skew(-30deg) translateX(-20px);
            }
        }
        .search-open {
            .icon_search {
                z-index: 1001;
                font-size: 2rem;
                &:before {
                    content: "\4d";
                }
            }
        }
    }
    &__search-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background: rgba(0, 0, 0, 0.9);
        justify-content: center;
        align-items: center;
        display: none;
    }
}

.side-navigation {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: $zindex-dropdown;
    opacity: 0;
    min-width: rem(320);
    @include transform(translate(-200%, 0));
    @include transition(transform .3s ease, opacity .3s ease);
    &.open {
        opacity: 1;
        @include transform(translate(0, 0));
    }
}

// Search overlay
.search {
    &__overlay-content {
        width: 80%;
        label {
            display: none;
        }
    }
    &__form {
        position: relative;
    }
    &__submit {
        position: absolute;
        top: 7px;
        right: 0;
        background: transparent;
        border: 0;
        transform: scaleX(-1);
        .header__icon {
            color: $white;
            font-size: 1.3rem;
        }
    }
    &__input {
        width: 100%;
        border: 0;
        border-bottom: 3px solid $white;
        height: 4rem;
        background-color: transparent;
        text-align: center;
        font-style: italic;
        color: $white;
        font-size: $h1-font-size;
        @include placeholder {
            color: $white;
        }
    }
}

@include media-breakpoint-down(xs) {
    .search__input {
        height: 3rem;
        text-align: left;
        font-size: 1.5rem;
    }
    .header {
        &__btn-icon {
            &:after {
                transform: skew(30deg) translateX(10px);
            }
        }
        &__search .header__btn-icon {
            &:after {
                transform: skew(-30deg) translateX(-10px);
            }
        }
        &__bottom {
            padding: 0;
            .mobile-display {
                flex-direction: column-reverse;
            }
            >.container {
                padding: 0;
            }
            .right,
            .left {
                padding: .3rem 1rem;
                width: 100%;
            }
            .left,
            .breadcrumb {
                background-color: lighten($header-bottom-background, 15%);
            }
        }
        &__menu-panel.dl-menuwrapper ul {
            min-width: rem(320);
        }
    }
}

@include media-breakpoint-down(md) {
    .header {
        &__menu-panel .dl-trigger.dl-active::before {
            font-size: 2rem;
        }
    }
}

@include media-breakpoint-down(sm) {
    .header {
        &__bottom {
            .switch-language {
                font-size: rem(12);
            }
        }
        &__menu-panel .dl-trigger.dl-active::before {
            font-size: 2rem;
        }
    }
}

@include media-breakpoint-up(lg) {
    .header:not(.fixed-menu) {
        .header__logo {
            padding: 1.7rem 5.5vw;
        }
    }
    .header__logo {
        padding: .5rem 5.5vw;
    }
    .side-navigation {
        min-width: 26rem;
    }
    .search__submit .header__icon {
        font-size: 2.3rem;
    }
    .header {
        &__search .header__btn-icon {
            .header__icon {
                font-size: 2rem;
            }
            &.search-open .header__icon {
                font-size: 3.5rem;
            }
        }
        &__btn-icon .header__icon {
            font-size: 3rem;
        }
        &__toggle-menu.menu-open .header__icon {
            font-size: 3.5rem;
        }
    }
}

@include media-breakpoint-up(xl) {
    .header {
        &__btn-icon {
            width: 10vw;
        }
        &__links li {
            margin-left: 2rem;
            a {
                font-size: 14px;
            }
        }
    }
    .header__btn-icon {
        &:before,
        &:after {
            transform: skew(40deg);
            left: 25%;
        }
        &:after {
            transform: skew(40deg) translateX(20px);
        }
    }
    .header__search .header__btn-icon {
        &:before,
        &:after {
            transform: skew(-40deg);
            right: 25%;
        }
        &:after {
            transform: skew(-40deg) translateX(-20px);
        }
    }
}