@import './base/setting';
//lib
@import "./node_modules/bootstrap/scss/bootstrap";
@import "./node_modules/bootstrap-select/dist/css/bootstrap-select";
@import "./lib/elegant-icon";
@import "./lib/menu";
//base
@import "./base/mixins";
@import "./base/normalize";
@import "./base/base";
@import "./base/button";
@import "./base/custom";
@import "./base/animation";
@import "./base/hover";
@import "./base/general";
@import "./base/font";
// module 
@import "./module/header";
@import "./module/footer";
@import "./module/home-page";
@import "./module/compare-nation";
@import "./module/product-page";
@import "./module/contact-page";
//component
@import "./component/form";
@import "./component/register-form";
@import "./component/social";
@import "./component/breadcrumb";
@import "./component/blog";
@import "./component/pagination";