.btn {
    background-color: $primary;
    color: $white;
    min-width: rem(165px);
    min-height: rem(37);
    border: 2px solid $primary;
    font-size: 1rem;
    &:hover {
        background-color: $white;
        color: $primary
    }
}