.title {
    font-family: 'commerceB', sans-serif;
    font-size: rem(40);
    @include media-breakpoint-down(lg) {
        font-size: rem(30);
    }
    @include media-breakpoint-down(xs) {
        font-size: rem(25);
    }
}

.line-title {
    font-family: 'commerceB', sans-serif;
    font-size: rem(30);
    color: $main-title-text-color;
    border-bottom: 2px solid $main-title-line-second-color;
    padding-bottom: 5px;
    position: relative;
    margin-bottom: 2rem;
    &:after {
        position: absolute;
        height: 2px;
        width: 35%;
        content: '';
        left: 0;
        bottom: -2px;
        background-color: $main-title-line-color;
    }
    @include media-breakpoint-down(lg) {
        font-size: rem(25);
        margin-bottom: 1.5rem;
    }
    @include media-breakpoint-down(sm) {
        font-size: rem(20);
        margin-bottom: 1rem;
    }
}

.white-line-title {
    @extend .line-title;
    border-bottom: 0;
    color: $white;
    &::before {
        content: "";
        height: 2px;
        width: 100%;
        bottom: -2px;
        background-color: $white;
        position: absolute;
    }
}

.btn {
    &__more {
        display: flex;
        align-items: center;
        font-weight: $font-weight-lighter;
        color: $body-color;
        &:hover .btn__icon {
            animation: arrow-left-animation 1s ease infinite
        }
    }
    &__icon {
        font-size: 2rem;
    }
}

.switch-language {
    li {
        font-weight: $font-weight-lighter;
        &.active {
            font-weight: $font-weight-bold;
        }
        a {
            border-bottom: 1px solid transparent;
            &:hover {
                border-color: $header-bottom-text;
            }
        }
    }
}

.overlay-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $black;
    opacity: .7;
    z-index: 999;
    display: none;
}

#to_top {
    position: fixed;
    width: rem(35);
    height: rem(35);
    line-height: rem(35);
    text-align: center;
    bottom: 3rem;
    right: rem(20);
    background-color: $secondary;
    font-size: 0;
    display: none;
    &:before,
    &:after {
        content: "";
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid $white;
        position: absolute;
        top: calc((100% - 8px)/2);
        left: calc((100% - 15px)/2);
    }
    &:after {
        border-bottom-color: rgba($white, 0.5);
        @include transform(translateY(-4px));
    }
}

.image-box {
    position: relative;
    overflow: hidden;
}

.image-box::before {
    content: "";
    display: block;
    padding-top: 55%;
}

.image-box .image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-size: cover;
    background-position: center;
}